# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
.venv/
venv/
ENV/

# Django
staticfiles/
media/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local DB and vector store
*.sqlite3
chroma_db/

# Tests and caches
.pytest_cache/
.mypy_cache/
