# Ignore Python cache and venvs
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
.venv/
venv/
.env.*

# Git
.git/
.gitignore

# Local DB and indexes
*.sqlite3
/db.sqlite3
/chroma_db/

# Static collections
/staticfiles/
/media/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Tests & artifacts
.coverage
htmlcov/
pytest_cache/

# Node (if any)
node_modules/
